@model KvizAD.DbModels.Odgovori

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Odgovori</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCorect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCorect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pitanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pitanja.PitanjaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OdgovoriId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
